
.sf-component

    .clearfix

    .FooterMain

        .sf-container

            .FooterMain-row

                .FooterMain-section
                    dl.FooterMain-list
                        dt Portais
                        dd: a(href='http://www.senado.gov.br/senado/') O Senado
                        dd: a(href='http://www.senado.gov.br/senadores/') Senadores
                        dd: a(href='http://www.senado.gov.br/atividade/') Atividade Legislativa
                        dd: a(href='http://www.senado.gov.br/legislacao/') Legislação
                        dd: a(href='http://www12.senado.gov.br/noticias') Notícias
                        dd: a(href='http://www.senado.gov.br/publicacoes/') Publicações
                        dd: a(href='http://www12.senado.gov.br/orcamento') Orçamento
                        dd: a(href='http://www.senado.gov.br/transparencia/') Transparência

                .FooterMain-section
                    dl.FooterMain-list
                        dt Serviços
                        dd: a(href='http://www.senado.gov.br/atividade/materia/push/default.asp') Acompanhamento de Matérias
                        dd: a(href='http://www.senado.gov.br/senado/campanhas/institucionais.shtml') Campanhas Institucionais
                        dd: a(href='http://www12.senado.gov.br/blog/credenciamento-de-jornalistas') Credenciamento de Jornalistas
                        dd: a(href='http://www12.senado.gov.br/noticias/glossario-legislativo') Glossário Legislativo
                        dd: a(href='http://www.senado.gov.br/transparencia/liccontr/liccontr.asp') Licitações e Contratos
                        dd: a(href='http://livraria.senado.gov.br/') Livraria do Senado
                        dd: a(href='http://www.senado.gov.br/senado/alosenado/default.asp?s=pj') Projetos mais Comentados
                        dd: a(href='http://www.senado.gov.br/senado/alosenado/default.asp?s=rr') Respostas Rápidas

                .FooterMain-section
                    dl.FooterMain-list
                        dt Compromisso Institucional
                        dd: a(href='http://www12.senado.gov.br/senado/ilb/ead/abrangencia') Educação a distância
                        dd: a(href='http://www12.senado.gov.br/jovemsenador') Jovem Senador
                        dd: a(href='http://www12.senado.gov.br/senado/procuradoria/') Procuradoria da Mulher
                        dd: a(href='http://www5.senado.gov.br/saes#') Programa de Estágio
                        dd: a(href='http://www.senado.gov.br/senado/campanhas/solidariedade.shtml') Senado Solidário
                        dd: a(href='http://www.senado.gov.br/senado/programas/senadoverde/') Senado Verde
                        dd: a(href='http://www.senado.gov.br/senado/visite/') Visite o Senado

                .FooterMain-section
                    dl.FooterMain-list
                        dt Fale com os Senadores
                        dd: a(href='http://www.senado.gov.br/senadores/dinamico/docs/SenadoresEmExercicioNomes.pdf')
                            | Endereço dos Gabinetes

                    dl.FooterMain-list
                        dt Fale com o Senado
                        dd
                            span.FooterMain-icon.FooterMain-icon--earphone
                            |  0800 61 22 11

            .FooterMain-end
                span.FooterMain-icon--intranet
                    a(href='https://intranet.senado.gov.br/', target='_blank')
                        |  Intranet
                span.FooterMain-icon--aotopo
                    a(href='#')
                        |  Voltar ao topo


        .FooterMain-endereco
            span.hidden-xs Senado Federal -
            |  Praça dos Três Poderes - Brasília DF - CEP 70165-900
