
.sf-component

    .NavGlobal.navbar.navbar-static-top

        .NavGlobal-container

            //- os dropdowns precisam ficar aberto no momento de gerar o uncss e
            //- fechado na hora do build
            .pull-right.dropdown(class=dist ? '' : 'open', role='navigation')
                a.NavGlobal-toggle.dropdown-toggle(data-toggle='dropdown')
                    div.Icon--hamburger
                    |  Portais
                ul.NavGlobal-dropdownMenu.dropdown-menu
                    li: a(href="http://www.senado.gov.br/institucional/") Institucional
                    li: a(href="http://www25.senado.leg.br/web/senadores/") Senadores
                    li: a(href="http://www25.senado.leg.br/web/atividade/") Atividade Legislativa
                    li: a(href="http://www12.senado.gov.br/noticias/") Notícias
                    li: a(href="http://www12.senado.gov.br/publicacoes/") Publicação e Documentação
                    li: a(href="http://www12.senado.gov.br/orcamento/") Orçamento
                    li: a(href="http://www12.senado.gov.br/transparencia/") Transparência
                    li: a(href="http://www12.senado.gov.br/ecidadania/") e-Cidadania

            .NavGlobal-logo.pull-left
                a(href='http://www.senado.gov.br/')
                    img(src='http://www.senado.gov.br/inc/essencial/img/senado.svg', alt='Senado Federal', height=23, width=170)

            .NavGlobal-middle
                a(href='http://www.senado.leg.br/senado/falecomosenado/?a=f') Fale com o Senado
