
.sf-component

    .NavGlobal.navbar.navbar-static-top

        .NavGlobal-container

            //- os dropdowns precisam ficar aberto no momento de gerar o uncss e
            //- fechado na hora do build
            .pull-right.dropdown(class=dist ? '' : 'open', role='navigation')
                a.NavGlobal-toggle.dropdown-toggle(data-toggle='dropdown')
                    div.Icon--hamburger
                    |  Portais
                ul.NavGlobal-dropdownMenu.dropdown-menu
                    li: a(href='http://www.senado.gov.br/senado/') O Senado
                    li: a(href='http://www.senado.gov.br/senadores/') Senadores
                    li: a(href='http://www.senado.gov.br/atividade/') Atividade Legislativa
                    li: a(href='http://www.senado.gov.br/legislacao/') Legislação
                    li: a(href='http://www.senado.gov.br/noticias/') Notícias
                    li: a(href='http://www.senado.gov.br/publicacoes/') Publicações
                    li: a(href='http://www9.senado.gov.br/portal/page/portal/orcamento_senado') Orçamento
                    li: a(href='http://www.senado.gov.br/transparencia/') Transparência
                    li: a(href='http://www.senado.gov.br/ecidadania/') e-Cidadania

            a.NavGlobal-logo.pull-left(href='http://www.senado.gov.br/')
                img(src='/img/senado.svg', alt='Senado Federal', height=23, width=170)

            .NavGlobal-middle
                a(href='http://www.senado.leg.br/senado/falecomosenado/?a=f') Fale com o Senado
