.sf-component
    .sf-container
        .PortalTopo
            .PortalTopo-id.PortalTopo-id--wide
                .PortalTopo-title
                    | Título da página
        nav.Nav--principal
.sf-component
    .sf-container
        ol.Breadcrumbs
            li: a Home
            li: a Constituição Federal
            li: a Emendas Constituicionais
            li.active EC nº 35
        div.sf-H1.titulo-principal Ementa Constitucional nº 35
