@font-face {
	font-family: 'essencial';
	src:url('../fonts/essencial.woff?-YzAwuvYj') format('woff'),
		url('../fonts/essencial.ttf?-YzAwuvYj') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.Icon {
	font-family: 'essencial';
}
