.Icon--hamburger {
	display: inline-block;
	width: 10px;
	height: 12px;
	vertical-align: middle;
	background-image: url("data:image/gif;base64,R0lGODlhCgAMAIABALLAzv///yH5BAEAAAEALAAAAAAKAAwAAAIPhI+Zwe3/lJSw1omP3a0AADs=");
	margin-right: 1px;
}
