@font-face {
	font-family: 'essencial';
	src:url('@{icon-font-path}essencial.woff?-YzAwuvYj') format('woff'),
		url('@{icon-font-path}essencial.ttf?-YzAwuvYj') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.Icon {
	font-family: 'essencial';
}
