@bootstrap-path: "node_modules/bootstrap/less";
@senado-path: "node_modules/senado.css/less";

@import (reference) "@{bootstrap-path}/variables";
@import (reference) "@{bootstrap-path}/mixins";
@import (reference) "@{bootstrap-path}/glyphicons";

// Variaveis e mixins
@import "@{senado-path}/utils/variables";
@import "@{senado-path}/utils/mixins";

// Componentes
@import "@{senado-path}/components/navegacao";
@import "@{senado-path}/components/portal";
@import "@{senado-path}/components/topo";
@import "@{senado-path}/components/footer";
@import "@{senado-path}/components/icons";
@import "@{senado-path}/components/breadcrumbs";

// Personalização
@import "@{senado-path}/theme/bootstrap";

@icon-font-path: 'fonts/';
@img-path: 'img/';
