@bootstrap-path: "node_modules/bootstrap/less";
@senado-path:     "node_modules/senado.css/less";

@import (reference) "@{bootstrap-path}/variables";
@import (reference) "@{bootstrap-path}/mixins";
@import (reference) "@{bootstrap-path}/grid";
@import (reference) "@{bootstrap-path}/utilities";
@import (reference) "@{bootstrap-path}/glyphicons";

@import "less/senado";
@import "less/icons";
@import "less/fixes";

@icon-font-path: 'fonts/';
@img-path: 'img/';
