.sf-component
  .Az-place.Az-place--float.Az-place--wide
    .Az-results.Box.Box--lg
      .List.List--stack
        .List-cat
          .milli R&Aacute;DIO SENADO
        .List-items
          .List-item
            .Flag.Flag--top
              .Flag-figure(style='color: #bbb')
                .glyphicon.glyphicon-menu-right.micro
              .Flag-body
                a.u-alignMiddle(href='http://www12.senado.leg.br/radio/')  Autores e Livros
      .List.List--stack
        .List-cat
          .milli PROGRAMAS
        .List-items
          .List-item
            .Flag.Flag--top
              .Flag-figure(style='color: #bbb')
                .glyphicon.glyphicon-menu-right.micro
              .Flag-body
                a.u-alignMiddle(href='http://www12.senado.leg.br/institucional/programas/senado-inclusivo')  Senado Inclusivo
      .List.List--stack
        .List-cat
          .milli PUBLICA&Ccedil;&Otilde;ES
        .List-items
          .List-item
            .Flag.Flag--top
              .Flag-figure(style='color: #bbb')
                .glyphicon.glyphicon-menu-right.micro
              .Flag-body
                a.u-alignMiddle(href='http://legis.senado.gov.br/diarios/PublicacoesOficiais')  Di&aacute;rios do Congresso Nacional
          .List-item
            .Flag.Flag--top
              .Flag-figure(style='color: #bbb')
                .glyphicon.glyphicon-menu-right.micro
              .Flag-body
                a.u-alignMiddle(href='http://legis.senado.gov.br/diarios/PublicacoesOficiais')  Di&aacute;rios do Senado Federal
      .List.List--stack
        .List-cat
          .milli OR&Ccedil;AMENTO
        .List-items
          .List-item
            .Flag.Flag--top
              .Flag-figure(style='color: #bbb')
                .glyphicon.glyphicon-menu-right.micro
              .Flag-body
                a.u-alignMiddle(href='https://www12.senado.leg.br/federativo')  Dados Federativos
      .List.List--stack
        .List-cat
          .milli SENADORES
        .List-items
          .List-item
            .Flag.Flag--top
              .Flag-figure(style='color: #bbb')
                .glyphicon.glyphicon-menu-right.micro
              .Flag-body
                a.u-alignMiddle(href='https://www12.senado.leg.br/transparencia/sen/auxilio-moradia-e-imoveis-funcionais')  Aux&iacute;lio Moradia e Im&oacute;vel funcional
      .List.List--stack
        .List-cat
          .milli RELAT&Oacute;RIOS LEGISLATIVOS
        .List-items
          .List-item
            .Flag.Flag--top
              .Flag-figure(style='color: #bbb')
                .glyphicon.glyphicon-menu-right.micro
              .Flag-body
                a.u-alignMiddle(href='https://www25.senado.leg.br/web/atividade/estatisticas')  Estat&iacute;sticas
          .List-item
            .Flag.Flag--top
              .Flag-figure(style='color: #bbb')
                .glyphicon.glyphicon-menu-right.micro
              .Flag-body
                a.u-alignMiddle(href='https://www25.senado.leg.br/web/atividade/relatorio-da-presidencia/2015')  Relat&oacute;rio da Presid&ecirc;ncia
    .Box.Box--xs(class='+absent')
      .ArrangeFlex.ArrangeFlex--middle.temp-rob
        .ArrangeFlex-sizeFit
          .u-circle.milli(class='+semi')
            .glyphicon.glyphicon-search.glyphicon--flow
        .ArrangeFlex-sizeFill.Box
          a(href='http://google.com')
            strong a
        .ArrangeFlex-sizeFit
          .Tecla.milli.pull-right Enter &crarr;
    .Box.Box--xs(class='+absent')
      .ArrangeFlex.ArrangeFlex--middle.temp-rob
        .ArrangeFlex-sizeFit
          .u-circle.milli(class='+semi')
            .glyphicon.glyphicon-search.glyphicon--flow
        .ArrangeFlex-sizeFill.Box
          a(href='http://google.com')
            strong a
