script(async src='https://www.googletagmanager.com/gtag/js?id=G-CW3ZH25XMK')
script(src='/inc/essencial/analyticsga4.js')

script(src="/inc/essencial/analytics.js")
script(async src='https://www.google-analytics.com/analytics.js')
