block includes
doctype html

html(lang='pt')

  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
    title Senado Federal
    block stylesheets
      link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
      link(rel='stylesheet' href='thin.css')

  body#sfcss

    block navglobal
      include pug/commons/navglobal

    .u-spacer--xl
      block portaltopo
        include pug/thin/portaltopo

    block content
      - var version = require('../package.json').version
      .container
        p.eta senado.essencial
          span.milli.text-muted  #{version}

    block footer
      include pug/thin/footer
