block includes
doctype html

html(lang='pt')

  include pug/head

  body#sfcss

    block navglobal
      include pug/commons/navglobal

    .u-spacer--xl
      block portaltopo
        include pug/thin/portaltopo

    block content
      - var version = require('../package.json').version
      .container
        p.eta senado.essencial
          span.milli.text-muted  #{version}

    block footer
      include pug/thin/footer
