li: a(href="http://www.senado.gov.br/institucional/") Institucional
li: a(href="http://www25.senado.leg.br/web/senadores/") Senadores
li: a(href="http://www25.senado.leg.br/web/atividade/") Atividade Legislativa
li: a(href="http://www12.senado.gov.br/noticias/") Notícias
li: a(href="http://www12.senado.gov.br/publicacoes/") Publicação e Documentação
li: a(href="http://www12.senado.gov.br/orcamento/") Orçamento
li: a(href="http://www12.senado.gov.br/transparencia/") Transparência
li: a(href="http://www12.senado.gov.br/ecidadania/") e-Cidadania
