
.container

    .PortalTopo

        .PortalTopo-id.PortalTopo-id--wide
            .PortalTopo-title
                | Título da página

        .PortalTopo-togglers.visible-xs
            .PortalTopo-toggler--menu(data-toggle='collapse', data-target='.Nav--principal')
                .Icon.Icon--menu.Icon--md

        .clearfix


    nav.Nav--principal.navbar.navbar-default.navbar-collapse.nav-collapse.collapse(role="navigation")
        ul.nav.navbar-nav
            li: a(href='#') Início
            li: a(href='#') Constituição Federal
            li: a(href='#') Legislação Federal
            li: a(href='#') Regimento Interno
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    = 'Consulte '
                    span.caret
                ul.dropdown-menu
                    li: a(href='#') Bases Históricas
                    li: a(href='#') SICON

    nav.Nav--secundaria.hidden-xs
        ul.nav.navbar-nav.pull-right
            li: a(href='http://www12.senado.leg.br/jornal') Jornal do Senado
            li: a(href='http://www12.senado.gov.br/noticias') Senado Notícias
            li: a(href='http://www.senado.leg.br/noticias/tv') TV Senado

.container
    ol.Breadcrumbs
        li: a Home
        li: a Constituição Federal
        li: a Emendas Constituicionais
        li.active EC nº 35
    h1.titulo-principal Ementa Constitucional nº 35
